In [54]:
import pandas as pd

In [57]:
df = pd.read_csv("Fails.csv", sep=",",)

In [56]:
df.head()

,Unnamed: 0,year,url,type,list index out of range TIME,'Bidder',"Could not get first item for //table[@cellpadding=""3""] query of class XpathSelector INFO",local variable 'df' referenced before assignment,1 TIME,Connection Faild,"can only concatenate str (not ""float"") to str"
0,0,1998,https://www.muniauction.com/pma/results/SanFra...,Bond,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1998,https://www.muniauction.com/pma/results/SanFra...,Bond,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,2,1998,https://www.muniauction.com/pma/results/Volusi...,Bond,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1998,https://www.muniauction.com/pma/results/Volusi...,Bond,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,4,1998,https://www.muniauction.com/pma/results/Pittsb...,Bond,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df[df['Connection Faild'] == 1 ].iloc[0]['url']

'https://www.bidumbaugh.com/pma/results/Carnegie.PL.of.SteubenCo.GOFB.10.AON/bid_summary.html'

In [69]:
df[df['Connection Faild'] == 1 ].count()

Unnamed: 0                                                                                  506
year                                                                                        506
url                                                                                         506
type                                                                                        506
list index out of range TIME                                                                  0
'Bidder'                                                                                      0
Could not get first item for //table[@cellpadding="3"] query of class XpathSelector INFO      0
local variable 'df' referenced before assignment                                              0
1 TIME                                                                                        0
Connection Faild                                                                            506
can only concatenate str (not "float") to str                                                 0
dtype: int64